<!DOCTYPE html>
<html>
  <head>
    <title>Zipcode</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'layouts/bootstrap' %>
  </head>

<body>
	<%= render 'layouts/navbar' %>
	<div class="container-fluid"
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
